<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="TflApiRoot" value="https://api.tfl.gov.uk/"/>
    <add key="TflApiApplicationId" value="add-tfl-api-application-id"/>
    <add key="TflApiApplicationKeys" value="add-tfl-api-application-keys"/>
  </appSettings>
</configuration>